@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.level0-layout {
    display: flex;
    overflow: auto;
    overflow-x: auto;
    border-radius: 5px;
    width: 90vw;
    justify-content: space-between;
}

.level1-layout {
    display: flex;
    overflow: auto;
    overflow-x: auto;
    width: 93vw;
    justify-content: space-between;
}

.top-nav-semester {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 90vw;
}

.committee-scatter-plot {
    flex: 1;
    border-radius: 5px;
    align-items: center;
}


.div-committee-table {
    background-color: white;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.date-label {
    margin-right: 5px;
    font-size: large;
}

.committee-table-container {
    max-height: 400px;
    width: 100%;
    overflow: auto;
    overflow-x: auto;
}

.committee-table-row {
    font-size: 10px;
    color: #424662;
}

.committee-table-header {
    background-color: #7686bc;
    color: #f1f3ff;
    font-size: 12px;
    justify-content: left;
}

.committee-table-row:hover {
    background-color: aliceblue;
}

.home-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 90px;
    transition: 0.5s;
    width: 100%;
    overflow: auto;
    overflow-x: auto;
}

.fiscal-term-drop-down {
    border: 2px solid #7686bc;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    color: #333;
    margin-right: auto;
}

.fiscal-term-drop-down:hover {
    background-color: #e0e0e0;
}

.fiscal-term-drop-down:focus {
    border-color: #007bff;
}

.ais-logo {
    width: 100px;
    height: auto;
}

