@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.level0-layout {
    display: flex;
    overflow: auto;
    border-radius: 5px;
    width: 90vw;
    justify-content: space-between;
}

.level1-layout {
    display: flex;
    overflow: auto;
    width: 93vw;
    margin-top: 85px;
    justify-content: space-between;
}

.committee-scatter-plot {
    flex: 1;
    border-radius: 5px;
    align-items: center;
}

.div-committee-table {
    background-color: white;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.date-label {
    margin-right: 5px;
    font-size: large;
}

.committee-table-container {
    max-height: 400px;
    width: 100%;
    overflow: auto;
}

.committee-table-row {
    font-size: 10px;
    color: #424662;
}

.committee-table-header {
    background-color: #7686bc;
    color: #f1f3ff;
    font-size: 12px;
    justify-content: left;
}

.committee-table-row:hover {
    background-color: aliceblue;
}

.home-layout {
    margin: -10px;
    margin-left: -20px;
    overflow: auto;
}