<script src="/static/assets/js/components/semester_nav_bar.js"></script>
<script src="/static/assets/js/utils.js"></script>

<link href="/static/assets/css/components/semester_nav_bar.css" rel="stylesheet">

<div class="top-nav-semester shadow m-4 f-basic-black">
    <div>
        <img class="ais-logo p-2" src="/static/assets/images/AIS.png">
        <select class="fiscal-term-drop-down m-3" id="fiscal-term-drop-down"> </select>
    </div>

    <span class="date-label push-last" id="start-date-label">Start Date: </span>
    <span class="date-label " id="end-date-label">End Date: </span>

</div>