.top-nav-semester {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-right: 300px;
    height: 70px;
}

.ais-logo {
    width: 70px;
    height: auto;
}

.fiscal-term-drop-down {
    border: 2px solid #7686bc;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    color: #333;
    margin-right: auto;
}

.fiscal-term-drop-down:hover {
    background-color: #e0e0e0;
}

.fiscal-term-drop-down:focus {
    border-color: #007bff;
}