{% extends "base_layout.html" %}

{% block stylesheet %}

<link href="/static/assets/css/home.css" rel="stylesheet">

{% endblock stylesheet %}

{% block js %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/assets/js/home.js"></script>

{% endblock js%}

{% block content%}

<div class="home-layout" id="home-layout">

    <div class="top-nav-semester shadow m-4 f-basic-black">
        <div>
            <img class="ais-logo p-2" src="/static/assets/images/AIS.png">

            <select class="fiscal-term-drop-down m-3" id="fiscal-term-drop-down">
            </select>
        </div>
        

        <span class="date-label" id="start-date-label">Start Date: </span>
        <span class="date-label p-lg-4" id="end-date-label">End Date: </span>

    </div>

    <!-- <div class="level0-layout bg-white shadow m-4 p-2">
        <img class="ais-logo p-2" src="/static/assets/images/AIS.png">
    </div> -->

    <div class="level1-layout">

        <div class="committee-table-data bg-white shadow m-4 p-2 div-committee-table">
            <h2 id="committee-table-label" class="f-basic-black"></h2>
            <div class="committee-table-container" id="tableContainer"></div>
        </div>

        <div class="committee-scatter-plot bg-white shadow m-4 p-2" id="div-committee-scatter-plot">
            <div id="committee-scatter-plot"></div>
        </div>

    </div>


</div>


{% endblock content%}