{% extends "base_layout.html" %}

{% block stylesheet %}

<link href="/static/assets/css/home.css" rel="stylesheet">

{% endblock stylesheet %}

{% block js %}

<script src="/static/assets/js/home.js"></script>
<script src="/static/assets/js/utils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>

{% endblock js%}

{% block content%}

<div class="home-layout" id="home-layout">

    {% include "components/semester_nav_bar.html" %}

    <div class="level0-layout bg-white shadow m-4 p-2">
        <h2 class="f-basic-black" id="committee-table-label"></h2>
    </div>

    <div class="level1-layout">

        <div class="bg-white shadow m-4 p-2 div-committee-table">
            <div class="committee-table-container" id="committee-table-container"></div>
        </div>

        <div class="committee-bar-plot bg-white shadow m-4 p-2">
            <canvas id="usage-bar-chart"></canvas>
        </div>

    </div>

</div>


{% endblock content%}