{% extends "base_layout.html" %}

{% block stylesheet %}

<link href="/static/assets/css/committee/consulting.css" rel="stylesheet">
<link href="/static/assets/css/components/semester_nav_bar.css" rel="stylesheet">

{% endblock stylesheet %}

{% block js %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/assets/js/committee/consulting.js"></script>
<script src="/static/assets/js/components/semester_nav_bar.js"></script>
<script src="/static/assets/js/utils.js"></script>
<script src="/static/assets/js/charts.js"></script>


{% endblock js%}

{% block content%}

<div class="consulting-layout">

    {% include "components/semester_nav_bar.html" %}


    <div class="div-trend-charts">
        <div class="trend-chart bg-white shadow m-4 p-2" id="time-series-chart"></div>
        <div class="trend-chart bg-white shadow m-4 p-2" id="bar-chart"></div>
    </div>

</div>


</div>


{% endblock content%}