{% extends "auth_base.html" %}

{% block title %} Sign Up {% endblock title %}

{% block form %}
<div class="signup form">
    <header>Signup</header>

    {% if messages %}
    <div class="message">
        {% for message in messages %}
        <p style="color: red; margin-top: 10px;">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form action="/signup/" id="signupForm" method="post" onsubmit="return validatePassword()">
        {% csrf_token %}
        <input id="signupUserName" name="username" placeholder="Enter your username" required type="text">
        <input id="signupFirstName" name="firstname" placeholder="Enter your first name" required type="text">
        <input id="signupLastName" name="lastname" placeholder="Enter your last name" required type="text">
        <input id="signupEmail" name="email" placeholder="Enter your email" type="text">
        <input id="signupPassword" name="password1" placeholder="Create a password" required type="password">
        <input id="confirmPassword" name="password2" placeholder="Confirm your password" required type="password">
        <input class="button" type="submit" value="Signup">
    </form>
    <div class="signup">
    <span class="signup">Already have an account?
      <a href="/login/">Login</a>
    </span>
    </div>
</div>
{% endblock form %}

{% block javascripts %}
<script>
    // Function to check if password1 matches password2
    function validatePassword() {
      var password1 = document.getElementById('signupPassword').value;
      var password2 = document.getElementById('confirmPassword').value;

      // Password length should be at least 8 characters
      if (password1.length < 8) {
        alert("Password must be at least 8 characters long");
        return false; // Prevent form submission
      }

      // Passwords must match
      if (password1 !== password2) {
        alert("Passwords do not match");
        return false; // Prevent form submission
      }

      // Additional strong password requirements (e.g., containing at least one uppercase letter, one lowercase letter, one digit, and one special character)
      var strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/;
      if (!strongPasswordRegex.test(password1)) {
        alert("Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character");
        return false; // Prevent form submission
      }

      // Password meets all criteria
      return true; // Allow form submission
    }
</script>
{% endblock javascripts %}